/*@media screen and (min-width:1100px) and (max-width: 1149px) {*/
@media screen and (max-width: 1149px) {  
    body {
        min-width: 300px;
    }  
    
    .container  {
        width: 90%;
    }
  
    /* Header 1 */
    .top-header .container, .menu-wrapper .container {
        width: 90%; 
    }  
    
    /* Featured Area 1 & 2 */
    .featured_1 .swiper-container, .featured_2 .swiper-container {
        width: 100%;
        max-width: 100%;
    }
    
    /* Layout 1 */
    .main-wrapper .container {
        width: 90%; 
    }
    
    /* Footer */
    .main-footer .container, .sub-footer .container  {
        width: 90%;
    }
    
}
@media screen and (max-width: 991px) {
    
  
    /* Header 1 */
    .header_1 .top-header .logo {
        padding-left: 15px;
        text-align: center;
    }
    .header_1 .top-header .row{
        padding: 30px 0;
    }
    .header_1 .search-area .social-icons{
        float: left;
    }
    .header_1 .search-area .social-icons ul {
        margin: 0;
    }

    /* 
     Content 
     Layout 1 */
    .content-wrapper {
        max-width: 100%;
        padding-bottom: 20px;
    }
    .blog-layout-1 .blog_post_img img {
        width: 100%;
        height: auto;
    }

    /* Sidebar */
    .sidebar-wrapper {
        border: 0;
        padding: 0;
        width: 100%;
    }
    .sidebar-wrapper .sidebar.widget-area {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .sidebar-wrapper .widget {
        margin-right: 0;
        flex: 47%;
        -webkit-flex: 47%;
        max-width: 47%;
    }
    .sidebar-wrapper .widget:nth-of-type(odd) {
        margin-right: 6%;
    }
}
 

/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 768px) { 

    /* Header 1 */
    header .social-icons li  {
        margin-bottom: 10px;
    } 

    /* Header 2 */
    .header_2 .top-header .logo  {
        text-align: center;
    }
    .header_2 .search-area {
        margin-top: 15px;
    }
    .header_2 .social-icons {
        float: left;
    } 

    /* Footer 1  */
    .main-footer .row { 
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .main-footer .col-sm-4 {
        margin-right: 0;
        flex: 45%;
        -webkit-flex: 45%;
        max-width: 50%;
    }
    .main-footer .col-sm-4:last-child {
        padding-top: 40px;
    }

} 

@media screen and (max-width: 665px) {
    /* Header 1 */
    .header_1 .header-search .search-form {
        width: 225px;
    }
    .header_1 .header-search .search-field {
        width: 185px
    }

    /* Single */
    .related_post {
        margin-right: 3%;
    }

    /* Pagination */
    .nav-links .next, .nav-links .prev, .nav-links .page-numbers  {
        font-size: 14px;
        padding: 12px 15px 9px;
    }
    .pagination {
        text-align: center;
    }
}


@media screen and (max-width: 551px) {

    /* Header 1 */
     .search-area .social-icons {
        float: none;
        margin-bottom: 20px;
    }
     .header-search {
        float: none;
        margin: 0;
    }
    header .social-icons ul {
        text-align: center;
    }
    header .social-icons li {
        text-align: left;
    }
    .header_1 .header-search .search-form {
        margin: 0 auto;
    }

    /* Menu */
    .no-js .site-header-menu{
        display: none ;
    }

    /* Layout 1 */
    .blog_post h2 {
        font-size: 20px;
    }

    /* Pagination */
    .nav-links .next, .nav-links .prev {
        display: none;
    }


    /* Sidebar */
    .sidebar-wrapper .sidebar.widget-area, .main-footer .row {
        display: block;
    }
    .sidebar-wrapper .widget, .main-footer .col-sm-4 {
        max-width: 100%;
    }
    .sidebar-wrapper .widget:nth-of-type(odd) {
        margin-right: 0%;
    }

    /* Footer */
    .main-footer .col-sm-4  {
        padding-bottom: 30px;
    }
    .main-footer .col-sm-4:last-child {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Single */
    .share-buttons span, .share-this-text {
        display: none;
    }
    .share-buttons {
        text-align: center;
    }
    .share-buttons li {
        float: none;
        display: inline;
    }

}

@media screen and (max-width: 460px) {

    /* Layout 1 */
    .content_loop .blog_post {
        width: 100%;
    }
    .blog-layout-1 .blog_post:nth-child(2n+1) {
        margin-right: 0;
    }

    /* Single */ 
    .author-area img {
        width: 80px;
    }
    .author-area .vcard {
        font-size: 20px;
        line-height: 1.2;
    }
    .author-bio {
        margin-top: 15px;
    }
    .related_post {
        flex: 40%;
        -webkit-flex: 40%;
    }

}

@media screen and (max-width: 320px) {
    .container  {
        width: 96%;
    }
  
    /* Header 1 */
    .top-header .container, .menu-wrapper .container, .main-wrapper .container, .main-footer .container, .sub-footer .container {
        width: 96%; 
        padding-left: 15px; 
        padding-right: 15px;
    } 

    /* Single */
    .single-content-holder .post-content img {
        width: 95%;
    }
    .share-buttons li a {
        margin-bottom: 12px;
    }

}